* {
  color: #000;
}

a:hover {
  text-decoration: none;
}

#main {
    box-shadow: 0px 0px 80px #001100;
}

#nav ul li a {
  font-size: 22px;
}

#nav, #nav ul li a.active, #main .spotlight .image, #main input[type="submit"], #main input[type="reset"], #main input[type="button"], #main .button, #main header.major h2:after {
  background-color: #fff3cc;
  background-image: none;
}

#main .spotlight .image, #main .icon.major, #main .icon.major:before {
  border-color: #fff3cc;
}

footer p, footer dl dd {
  color: #fff;
}

.menuIcon {
  display: none !important;
}

section, #intro {
  background-color: #FFF;
}

footer section {
  background-color: transparent;
}

.artistIMG {
  border-radius: 100%;
}

.contentB {
  text-align: justify;
}

div.zabuto_calendar .badge-today, div.zabuto_calendar div.legend span.badge-today {
    background-color: #1c7701;
    padding: 5%;
    border-radius: 8px;
}

div.zabuto_calendar .badge-event {
  color: #000;
  background-color: #ffe9a3;
  padding: 5%;
  border-radius: 8px;
}

.modal-dialog {
  padding-top: 9%;
}

.lead, .modal-footer, .modal-header, .modal-title {
  color: #000;
}

.modal-header .close {
    background-color: #1c7701;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 1280px) {
  #nav ul li a {
    font-size: 0.9em;
  }
}
